

.bg-container {
    background-color: #323f4b;
    background-size: cover;
    padding: 10px;
}

.main-heading {
    font-family: "roboto";
    font-size: 15px;
    color: #cced00;
    margin-top: 20px;
    font-weight: 600;
}

.second-heading {
    font-family: "roboto";
    font-size: 30px;
    color: white;
    font-weight: 800;
    margin-top: 10px;
}

.my-image {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.description {
    font-family: "roboto";
    font-size: 15px;
    color: #9aa5b1;
    margin-bottom: 15px;
}

.description-two {
    font-family: "roboto";
    font-size: 15px;
    color: #9aa5b1;
    margin-bottom: 35px;
}

.bt-container {
    background-color: #1f2933;
    background-size: cover;
    padding: 25px;
}

.third-heading {
    font-family: "roboto";
    font-size: 25px;
    color: #cced00;
    margin-top: 20px;
    font-weight: 600;
}

.card {
    background-color: #323f4b;
    height: 130px;
    width: 120px;
    border-radius: 10px;
    padding: 20px;
    margin-top: 25px;
}

.card-image {
    height: 100px;
    width: 80px;
}
